body{
    background-color: black;
    color: red;
}

/* taggs */
p{
    margin: 0;
}
a{
    text-decoration: none;
    color: red;
}
/* containers */
#container{
    width: 1800px;
    height: 770px;
    border: red solid 2px;
    border-radius: 1%;
    margin: 10px auto;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
    color: red;
    overflow-x: auto;
}
#container_new_list{
    width: 800px;
    height: 800px;
    margin: 0 auto;
    border: red solid 2px;
    border-radius: 1%;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
    color: red;
}
#title{
    width: 1500px;
    background-color: black;
    border: red solid 2px;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    color: red;
    font-family: 'Lacquer', sans-serif;
}

/* Option bar items */
#optionsbar{
    width: 1500px;
    border-bottom: red solid 2px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 375px 375px 375px 375px;
}
#new_list{
    grid-column: 1/2;
    text-align: center;
}
#remove_list{
    grid-column: 2/3;
    text-align: center;
}
#sort_taks{
    grid-column: 3/4;
    text-align: center;
}
#time_name{
    display: inline-block;
}
#time_button{
    background-color: black;
    border: none;
    color: red;
}

/* lists */
.lists{
    width: 405px;
    height: 700px;
    border: red solid 2px;
    margin: 10px;
    display: inline-block;
    overflow-y: auto;
}
.list_title{
    width: 400px;
    height: 50px;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}
.lists_items{
    width: 400px;
    height: 600px;
    border-top: red solid 2px;
}

.task{
    width: 400px;
    height: 150px;
    border: red solid 1px;
    display: inline-block;
    overflow-y: auto;
}
#select_status_btn{
    background-color: black;
    border: red solid 1px;
    color: red;
}
#footer{
    width: 1500px;
    background-color: black;
    border: red solid 2px;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    color: red;
    display: block;
}