body{
    background-color: black;
}

/* taggs */
p{
    margin: 0;
}
a{
    text-decoration: none;
    color: red;
}
/* containers */
#container{
    width: 1800px;
    height: 770px;
    border: red solid 2px;
    border-radius: 1%;
    margin: 10px auto;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
    color: red;
    overflow-x: auto;
}
#container_new_list{
    width: 800px;
    height: 800px;
    margin: 0 auto;
    border: red solid 2px;
    border-radius: 1%;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
    color: red;
}
#title{
    width: 1500px;
    background-color: black;
    border: red solid 2px;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    color: red;
    font-family: 'Lacquer', sans-serif;
}
#optionsbar{
    width: 1500px;
    border-bottom: red solid 2px;
    margin: 0 auto;
}
.lists{
    width: 400px;
    height: 700px;
    border: red solid 2px;
    margin: 20px;
}
.list_title{
    width: 400px;
    height: 50px;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}
.lists_items{
    width: 400px;
    height: 600px;
    border-top: red solid 2px;
}
.task{
    width: 400px;
    height: 150px;
    border: red solid 1px;
    overflow-y: auto;
}
#form{
    width: 500px;
    margin: 50px auto;
}
#footer{
    width: 1500px;
    background-color: black;
    border: red solid 2px;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    color: red;
    display: block;
}